button.btn.btn-primary.add_dvr {
    vertical-align: super;
}
.textRight{
    text-align: right;
}
.filter12{
    color: #383838;
    font-size: 19px;
    cursor: pointer;
}

.modal-content{
    padding: 36px;
    max-width: 400px;
    margin: auto;
    position: relative;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.close-icon{
    position: absolute;
    cursor: pointer;
    right: 28px;
    top: 15px;
    height: 20px;
}

.modal-title{
    font-size: 23px;
    margin-bottom: 30px;
}

.sitem{
    border: 1px solid #ddd !important;
    margin: 0 !important;
    border-radius: 7px !important;
}

.ssitem{
    border: 1px solid #ddd !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 7px !important;
}

.search-image{
    width: 48px !important;
    height: 48px !important;
    padding: 5px !important;
    display: block;
    margin: 0 auto;
}

.search-text{
    font-size: 12px;
    margin: auto;
    cursor: pointer;
}

.search-icon{
    font-size: 28px;
    margin: auto;
}

.search-area{
    max-height: 180px !important;
    overflow-y: scroll !important;
}


#background{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
}

#content{
    position:absolute;
    z-index:1;
}

#bg-text
{
    color:lightgrey;
    font-size:66px;
    transform:rotate(300deg);
    -webkit-transform: rotate(360deg);
    margin-left: 279px;
    cursor: default
}