

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="javascript:void(0);" *ngIf="varCtrl.isSideBar">
      <img src="assets/images/menu.png"(click)="_toggleSidebar()" width="30" height="30" class="d-inline-block align-top menu-btn" alt="">
    </a>


    
    <div class="profile_row" >
        <img src="assets/images/userPlaceholder.png" alt=""  class="buddy-image" >
        <label for="profile" style="color: white" >{{email}}</label>
        <!-- <select #langSelect (change)="translate.use(langSelect.value)" class="selectLanguage">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select> -->
      </div>

    
    <span class="navbar-text title" *ngIf="varCtrl.isTitle">
      
      <p class="varTitle">{{varCtrl.title}}</p>

      
    </span>
    <img src="assets/images/logo.png" *ngIf="!varCtrl.isTitle" class="header-logo">
    <!-- <a class="navbar-brand" href="#">
      <img src="assets/images/menu.png" style="display: none;" width="30" height="30" class="d-inline-block align-top menu-btn" alt="">
    </a> -->
  </nav>