/* h1.Bad_net {
    color: white;
    margin: 50px 0px 19px 0px;
} */
.main-page1 {
    background: #C20000;
    text-align: center;
    min-height: 100vh;
    padding-top: 70px;
}
span.url {
    color: white;
    font-size: 11px;
    position: absolute;
    margin-left: 50px;
    top: 35%;
}
.Bad_net {
    color: white;
    margin: 50px 0px 19px 0px;
}.text-white {
    color: white;
}
.img_con {
    position: relative;
    margin-top: 60px;
}