button.btn.btn-primary.add_dvr {
    vertical-align: super;
    float: right;
}

.ssitem{
    border: 1px solid #ddd !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 7px !important;
}

.search-text{
    font-size: 12px;
    margin: auto;
}

.search-icon{
    font-size: 28px;
    margin: auto;
}


.detail-btn-style{
    background: #F9A11B;
    font-family: 'Cabin', sans-serif;
    color: white;
    display: block;
    border: 1px solid #F9A11B;
    margin: auto;
    width: 100%;
}

.cust-btn{
    background: #f4f4f4;
    font-family: 'Cabin', sans-serif;
    color: #000;
    display: block;
    border: 1px solid #ddd;
}

.cust-btn-pay{
    background: #F9A11B;
    font-family: 'Cabin', sans-serif;
    color: white;
    display: block;
    border: 1px solid #F9A11B;
}


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }