<div class="row" id="mainRow">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
      <br>

      <form action="" method="" class="pop_met" #myForm="ngForm" (ngSubmit)="update()">

        <div class="row">
          <div class="col-md-1">
            <h4 >Update Time Slot and Driver</h4>
          </div>
        </div>
     <div class="row">
  <!-- [value]="title.Value" 
                  [attr.selected]="passenger.Title==title.Text ? true : null" -->
          <div class="col-md-6 ">
            <!-- <h4 class="schl">User Information</h4> -->
            <div class="input_conatiner">
                <select  name="driver" [(ngModel)]="details.driver" class="form-control">
                
                    <option *ngFor="let driver of drivers"  [value]="driver.name" >
                        {{driver.name}}
                    </option>
                </select>
                <br/>
                <select  name="time" [(ngModel)]="details.time" class="form-control">
                
                  <option *ngFor="let time of timeslots"  [value]="time.slot" >
                      {{time.slot}}
                  </option>
              </select>
                <button type="submit" name=""  value="Submit" class="loggin_pop sign_page_sub">Update</button>
            </div>

          </div>

        </div>
       
      </form>

    </div>

  </div>
